.menu-icon {
    display: block;
    padding-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.menu {
    position: absolute;
}
.menu-nav {
    margin: 0 auto;
    position: absolute;
    list-style-type: none;
    text-transform: uppercase;
    width: 100px;
}
.menu-nav li a {
    display: block;
    text-decoration: none;
    color: black;
    list-style-type: none;
}
@media (min-width: 640px) {
    .menu-icon {
        padding-top: 15px;
    }
}
