.menu-icon {
    display: block;
    width: 100px;
    padding-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.menu {
    position: relative;
}
.menu-nav {
    margin: 0 auto;
    position: absolute;
    list-style-type: none;
    text-transform: uppercase;
}
.menu-nav li a {
    display: block;
    text-decoration: none;
    color: black;
    list-style-type: none;
}
